.btn {
    display: block;
    cursor: pointer;
    padding: 0.2em 0.4em 0.2em 0.4em;
    margin: 0 0 0.2em 0;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    border: 0;
    background-color: transparent;
    font-size: inherit;

    > * {
        font-size: 0.6em;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.15em;
    }

    &.full {
        width: 100%;
    }

    &.blue {
        color: var(--blue);
        border: 2px solid var(--blue);

        &:hover {
            color: var(--blue-dark);
            border-color: var(--blue-dark);
        }
    }

    &.blue-solid {
        color: var(--white);
        background-color: var(--blue);

        &:hover {
            background-color: var(--blue-dark);
        }
    }
}