#main-nav {
    width: 100%;
}

#top-bar {
    display: flex;
    align-items: center;
    height: 1em;
    background-color: var(--black);

    > div {
        display: flex;
        align-items: center;
        height: 100%;
        flex: 1;
    
        button {
            color: var(--white);
            cursor: pointer;
            margin: 0 !important;
        }

        &:first-child {
            margin-left: 1em;
            justify-content: flex-start;
        }

        &:last-child {
            margin-right: 1em;
            justify-content: flex-end;

            button {
                font-size: 0.5em;
            }
        }
    }
}

#nav-menu, #user-menu {
    height: 9999px;
    width: 100%;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li > * {
        height: 100%;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 5px;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        font-size: 1.5em;
        width: 100%;
        box-sizing: border-box;

        span {
            font-size: 0.6em;
        }
    }
}

#nav-menu {
    background-color: var(--black);

    li > * {
        color: var(--white);
        padding-left: 0.5em;

        &:hover {
            color: var(--black);
            background-color: var(--white);
        }
    }
}

#user-menu {
    background-color: var(--white);
        
    li > * {
        color: var(--black);
        justify-content: flex-end;
        padding-right: 0.5em;

        &:hover {
            color: var(--white);
            background-color: var(--black);
        }
    }
}