#app-dialog {
    display: none;
    z-index: 990;

    h1 {
        text-align: center;
    }

    &.active {
        align-items: center;
        display: flex;
        height: 100%;
        position: fixed;
        top: 0px;
        width: 100%;
    }
}