#app-dialog {
    display: none;
    z-index: 990;

    h1 {
        text-align: center;
    }

    &.active {
        align-items: center;
        display: flex;
        height: 100%;
        position: fixed;
        top: 0px;
        width: 100%;
    }
}

dialog {
    border: 1px solid var(--black);
    border-radius: var(--border-radius);

    h1 {
        justify-content: center;
    }

    p {
        font-size: 0.5em;
        margin: 0 0 1em 0;
    }
}